<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
#if(!$title)
    #set($title = "Untitled")
#end
<title> 
    $title.Trim()
</title>
<link href="$siteroot/Content/css/Site.css" rel="stylesheet" type="text/css" /></head> 
<body> 
    <div class="page"> 
 
        <div id="header"> 
            <div id="title"> 
                <h1>My MonoRail Application</h1> 
            </div> 
              
            <div id="logindisplay"> 
 
            </div> 
            
            <div id="menucontainer"> 
                <ul id="menu">     
					<li>$Url.Link("Home", "%{controller='Home', action='Index'}")</li>
					<li>$Url.Link("About", "%{controller='Home', action='About'}")</li>
                </ul> 
            
            </div> 
        </div> 
 
        <div id="main">
			$childContent
            <div id="footer"> 
            </div> 
        </div> 
    </div> 
</body> 
</html> 
