<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title> 
    Home Page
</title>
<link href="$siteroot/Content/css/Site.css" rel="stylesheet" type="text/css" /></head> 
<body> 
    <div class="page"> 
 
        <div id="header"> 
            <div id="title"> 
                <h1>My MonoRail Application</h1> 
            </div> 
              
            <div id="logindisplay"> 
 
            </div> 
            
            <div id="menucontainer"> 
                <ul id="menu">              
                    <li><a href="/">Home</a></li> 
                    <li><a href="/Home/About">About</a></li> 
                </ul> 
            
            </div> 
        </div> 
 
        <div id="main"> 
            
    <h2>Message</h2> 
    <p> 
        To learn more about Castle MonoRail visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
    </p> 
 
 
            <div id="footer"> 
            </div> 
        </div> 
    </div> 
</body> 
</html> 
